extends layout

block content
  link(rel='stylesheet', href='/stylesheets/dashboard-override.css')
  h1= 'My Dashboard'
  p This is where you can keep track of your requests and submissions
  div
    a(class='button', href='/users/request') Request a Gift
    a(class='button button2', href='/users/submit') Submit a Gift