extends layout

block scripts
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='https://js.radar.io/v3/radar.min.js')
  script.
    Radar.initialize('prj_test_pk_d5f66490d6cfa0cbdc3f4075c9f432c2368cdb59');

    function createGeofence(id, description) {
      Radar.setUserId(id);
      
    }

block content
  h1= 'My Dashboard'
  p This is where you can keep track of your requests and submissions
  input(type="button", value="Create geofence (testing)", onclick=`createGeofence('${id}', 'test')`)
  div
    a(class='button', href='/users/request') Request a Gift
  div
    a(class='button', href='/users/submit') Submit a Gift