extends layout

block content
  h1= 'My Dashboard'
  p This is where you can keep track of your requests and submissions
  div
    a(class='button', href='/users/request') Request a Gift
  div
    a(class='button', href='/users/submit') Submit a Gift
  div
    a(class='button', href='/users/leaderboard') Leaderboard