extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index-override.css')
  h1#title= title
  h3 Feeling generous this holiday season? Spread the cheer with our gift-exchange platform!
  div
    a(class='button', href='/users') Get Started!
