doctype html
html
  head
    title= title
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
  body
    nav
      ul#navbar
        li
          a(href='/users/') Dashboard
        li
          a(href='/users/createsubmit') Give a Gift
        li
          a(href='/users/request') Request a Gift
        li
          a(href='/') Home
    .content
      block content
