extends layout

block content
  link(rel='stylesheet', href='/stylesheets/dashboard-override.css')
  h1= title
  h2 See how you compare to others :)
  if users.length > 0
    table#leaderboardTable
      thead
        tr 
          th Rank
          th User
          th Points
      tbody
        - var i = 0;
        while i < users.length
          tr
            td= ++i
            td= users[i-1].id
            td= users[i-1].points
  else
    h2 There aren't any users yet...
        

    