extends layout

block content
  h1= "My Profile"
  p This is where you can keep track of your requests and submissions
  div
    a(class='button', href='placeholder') Request a Gift
  div
    a(class='button', href='placeholder') Submit a Gift