extends layout

block scripts
  

block content
  h1= "Gift Submission"
  table#submissionTable
    thead
      tr
        th Gift requests near you
    tbody
      each req in requests
        tr
          tb
            td= req.id
            td= req.description
            td= req.maxCost
            td
              button(onclick="")
