extends layout

block scripts
  script.
    async function addsubmission(mongoId) { // add submission given the mongoDB _id attribute
      let res = await fetch(
        '/users/addsubmission',
        {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({mongoId: mongoId})
        }
      );
      console.log(res); // alert user of response
    }

block content
  h1= "Gift Submission"
  table#submissionTable
    thead
      tr
        th Gift requests near you
    tbody
      each req in requests
        tr
          tb
            td= req.id
            td= req.description
            td= req.maxCost
            td
              - var mongoId = req._id;
              button(onclick="addsubmission('" + mongoId + "')") Submit this gift!
