extends layout

block scripts
  script(src="/javascripts/api.js")

block content
  link(rel='stylesheet', href='/stylesheets/dashboard-override.css')
  h1= "Gift Submissions"
  if nearrequests.length > 0
    h2= 'Find gift requests near you'
    p.
      Click on a gift request to receive delivery directions on your dashboard!
    table#submissionTable
      thead
        tr
          th Name
          th Gift Description
          th Max Price
      tbody
        - var i = 0;
        for req in nearrequests
          if exists[i++]
            tr(class="exists")
              td(onclick="addSubmission('" + req._id + "')")= req.id
              td(onclick="addSubmission('" + req._id + "')")= req.description
              td(onclick="addSubmission('" + req._id + "')")= req.maxCost
          else
            tr
              td(onclick="addSubmission('" + req._id + "')" class="clickable")= req.id
              td(onclick="addSubmission('" + req._id + "')" class="clickable")= req.description
              td(onclick="addSubmission('" + req._id + "')" class="clickable")= req.maxCost
  else
    h2= "There aren't any gift requests near you"
