extends layout

block scripts
  script(src="/javascripts/api.js")

block content
  link(rel='stylesheet', href='/stylesheets/submit-override.css')
  h1= "Gift Submissions"
  h2= 'Find gift requests near you'
  table#submissionTable
    thead
      tr
        th Name
        th Gift Description
        th Max Price
    tbody
      each req in requests
        tr
          - var mongoId = req._id;
          td(onclick="addsubmission('" + mongoId + "')")= req.id
          td(onclick="addsubmission('" + mongoId + "')")= req.description
          td(onclick="addsubmission('" + mongoId + "')")= req.maxCost
