body {
    background-image: url('/images/background.png');
    background-repeat: no-repeat;
    background-size: 100vw;
}

h3 {
    text-align: left;
    padding-right: 600px;
}

div a{
    font-size: 30px;
    color: #2c516b;
    padding: 5px 20px;
    background-color: #e8f5ff;
    border-radius: 5px;
    transition-duration: 0.4s;
}

div a:hover{
    background-color: #d4ebff;
    color: #2c516b;
}