h2 {
  font-weight: normal;
}

#submissionTable {
  font-weight: normal;
  width: 100%;
  border-collapse: collapse;
}

#submissionTable, td, th {
  border: 3px solid #e8f5ff;
  padding: 10px;
  text-align: left;
  transition-duration: 0.4s;
}

#submissionTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #e8f5ff;
  cursor: auto;
  color: #2c516b;
}

#submissionTable tr:hover {
  background-color: #335f7e;
  cursor: pointer;
}